*{
    margin: 0px;
    padding: 0px;
}

body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
    }
 
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 200px;
    background-color: brown;
    height: 1000px;
    box-shadow: 2px 2px 3px 5px rgba(0, 0, 0, 0.2);
}
 
a{
    display: block;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
 
a:hover{
    box-shadow: 0px 4px 12px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
 
}
 
.logo{
    height: 100px;
}
 
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
 
.card_info_pessoal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
    gap: 50px;
    height: 100PX;
    width:1350px;
    padding: 50px;
    left:310px;
    border-radius: 12px;
    background-color: brown;
    color: aliceblue;
}
 
.foto_perfil{
    height: 120px;
    border-radius: 70px;
}
 
.editar_perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 90px;
    gap: 90px;
    height: 700px;
    width: 500px;
    padding: 50px;
    left: 370px;
    border-radius: 12px;
    background-color: brown;
    color: aliceblue;
    font-size: 20px;
}

.txt_card_ep {
    font-weight: bold;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    position: relative;
    top: 20px
}

.txt_card_ic {
    font-weight: bold;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    position: relative;
    top: -85px; 
}

.editar_informacoes_conta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -710px;
    gap: 90px;
    height: 700px;
    width: 500px;
    padding: 50px;
    left: 1100px;
    border-radius: 12px;
    background-color: brown;
    color: aliceblue;
    font-size: 20px;

}

.container_popup{
    display: flex;
    position: relative;
    top: -10px;
    left: 150px;

}
button{
    justify-content: center;
    background-color: rgb(116, 24, 24);
    color: aliceblue;
    padding: 15px;
    font-family: monospace;
    border-radius: 12px;
    border: none;

}

button:hover{
    box-shadow: 0px 4px 12px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
 
}

.conteudo_popup{
    padding: 50px;
    height: 700px;
    width: 500px;
    position: relative;
    align-items: center;
    top: 290px;
    left: 370px;
    border-radius: 12px;
    background-color: rgb(116, 24, 24) ;
    color: aliceblue;
    border: none;
    
}

.popup_eic{
    display: flex;
    position: relative;
    left: 165px;
    top: 105px;
}

.fechar_popup{
    display: flex;
    justify-content: center;
    position: relative;
    top: -35px;
    left: 490px;
    padding: 10px;
    width: 10px;
}

.alterar_info{
    display: flex;
    flex-direction: column;
    gap: 35px;
    
}

.titulo_alterar_informacoes{
    text-align: center;
    position: relative;
    top: -50px;
}

.salvar_cancelar{
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 350px;
}

.input {
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #bbb;
}

@keyframes abrir {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}