*{
    margin: 0px;
    padding: 0px;
}

body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
    }
 
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 200px;
    background-color: brown;
    height: 1000px;
    box-shadow: 2px 2px 3px 5px rgba(0, 0, 0, 0.2);
}
 
a{
    display: block;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
 
a:hover{
    box-shadow: 0px 4px 12px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
 
}
 
.logo{
    height: 100px;
}
 
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.foto_perfil{
    height: 120px;
    border-radius: 70px;
}

.perfil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: brown;
    position: relative;
    top: 40px;
    height: 100px;
    width: 1300px;
    gap: 50px;
    border-radius: 12px;
    left: 350px;
    padding: 50px;
}