*{
    margin: 0px;
    padding: 0px;
}

body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
    }
 
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 200px;
    background-color: brown;
    height: 1000px;
    box-shadow: 2px 2px 3px 5px rgba(0, 0, 0, 0.2);
}
 
a{
    display: block;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
 
a:hover{
    box-shadow: 0px 4px 12px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
 
}
 
.logo{
    height: 100px;
}
 
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

 
.search-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

input[type="text"] {
      width: 600px;
      padding: 10px 15px;
      font-size: 16px;
      border: 2px solid #ccc;
      border-radius: 25px;
      position: relative;
      left: 70px;
      top: 30px;
      outline: none;
      transition: 0.3s;
    }

input[type="text"]:focus {
      border-color: #ff4444;
      box-shadow: 0 0 5px #ff4444;
    }

ul {
      list-style: none;
      padding: 0;
      max-width: 400px;
      margin: auto;
      position: relative;
      left: 60px;
      top: 50px;
    }

li {
      background: white;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }